body{
	height: 100vh;
	margin: 0px;
	width: 100vw;
	background: linear-gradient(rgb(217, 255, 212), green);
}

#Logout{
	display: inline-block;
	
}


.button{
	 float: right;
	 padding: 15px 32px;
	 font-size: 16px;
	 background-color: darkgreen;
	 color: white;
	 cursor: pointer;
	 width: 175px;
	
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: darkgreen;
   text-align: left;
   height: 5%
}