html{

    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

body{
    height: 100vh;
    margin: 0px;
}
form {
    text-align: center;
    padding-top: 100px;
}

#LoginButton{
    width: 21em;
    height: 2em;
}

h2 {
    font-size: 40px;
    margin: 0px;
}

.gradiant{
    background: linear-gradient(rgb(217, 255, 212), green);
}
#Greenbull{
    display: inline-block;
}

.Greenbull2{
    float: right;
}